@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mainColor: #0070ff;
  --mainColorLighter: #4094ff;
  --lightColor: #f5f9ff;
  --tableHeadColor: #fcfcfd;
  --lightBorder: #eaecf0;
  --activeColor: #d7e7ff;
  --grayColor: #667085;
  --darkGray: #5c5c5c;
  --checkboxBorder: #d0d5dd;
  --anotherGray: #a2a2a2;

  --font-main: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-secondary: 'Arial';
  --font-third: 'Inter', system-ui, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-main: var(--font-main);
  --font-secondary: var(--font-secondary);
  --font-third: var(--font-third);

  --color-grayish: var(--grayColor);
  --color-grayishTwo: var(--anotherGray);
  --color-dark: var(--darkGray);
  --color-main: var(--mainColor);
  --color-mainLighter: var(--mainColorLighter);
  --color-hover: var(--lightColor);
  --color-tableHead: var(--tableHeadColor);
  --color-lightBorder: var(--lightBorder);
  --color-active: var(--activeColor);
  --color-checkboxBorder: var(--checkboxBorder);
}

@layer utilities {
  .font-third {
    font-family: var(--font-third);
    font-style: normal;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-main);
  background: #f8f8f8;
}
